<script src="{{ "/js/jquery-3.1.1.min.js" | relative_url }}"></script>
<script src="{{ "/js/flickity.min.js" | relative_url }}"></script>
<script src="{{ "/js/easypiechart.min.js" | relative_url }}"></script>
<script src="{{ "/js/parallax.js" | relative_url }}"></script>
<script src="{{ "/js/typed.min.js" | relative_url }}"></script>
<script src="{{ "/js/datepicker.js" | relative_url }}"></script>
<script src="{{ "/js/isotope.min.js" | relative_url }}"></script>
<script src="{{ "/js/ytplayer.min.js" | relative_url }}"></script>
<script src="{{ "/js/lightbox.min.js" | relative_url }}"></script>
<script src="{{ "/js/granim.min.js" | relative_url }}"></script>
<script src="{{ "/js/jquery.steps.min.js" | relative_url }}"></script>
<script src="{{ "/js/countdown.min.js" | relative_url }}"></script>
<script src="{{ "/js/twitterfetcher.min.js" | relative_url }}"></script>
<script src="{{ "/js/spectragram.min.js" | relative_url }}"></script>
<script src="{{ "/js/smooth-scroll.min.js" | relative_url }}"></script>
<script src="{{ "/js/scripts.js" | relative_url }}"></script>